<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>

    <h2 class="my-4">카테고리 별 최저가격</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>카테고리</th>
            <th>브랜드</th>
            <th>가격</th>
        </tr>
        </thead>
        <tbody id="lowestPricesBody">
        </tbody>
        <tfoot>
        <tr>
            <th colspan="2">총액</th>
            <td id="totalPrice"></td>
        </tr>
        </tfoot>
    </table>

    <a href="/page" class="btn btn-primary">홈으로</a>

    <div th:replace="fragments/footer :: footer"></div>
</div>

<script>
    $(document).ready(function() {
        $.ajax({
            url: '/v1/items/lowest-prices',
            method: 'GET',
            success: function(response) {
                if (response.success) {
                    var data = response.data;
                    var tableBody = $('#lowestPricesBody');

                    data.items.forEach(function(item) {
                        tableBody.append(
                            '<tr>' +
                            '<td>' + item.category + '</td>' +
                            '<td>' + item.brand + '</td>' +
                            '<td>' + item.price.toLocaleString() + '원</td>' +
                            '</tr>'
                        );
                    });

                    $('#totalPrice').text(data.totalPrice + '원');
                } else {
                    alert('데이터를 불러오는데 실패했습니다.');
                }
            },
            error: function() {
                alert('서버와의 통신에 실패했습니다.');
            }
        });
    });
</script>
</body>
</html>